<div class="container-lg d-flex flex-column">
  <div class="border p-4">
    <%= form_with model: @track, url: welcome_index_path(@track) do |form| %>
      <%= form.label :title, "Title" %>
      <%= form.text_field :title %>
      <%= form.label :artist, "Artist" %>
      <%= form.text_field :artist %>
      <%= form.label :position, "Order" %>
      <%= form.number_field :position %>
      <%= form.label :main_image %>
      <%= form.file_field :main_image %>
      <%= form.submit %>
    <% end %>
  </div>
  <div class="border p-4">
    <div class="border p-4 d-flex flex-column">
      <%= audio_tag url_for(@audio.main_image), controls: true, html: {controlsList: "nodownload"} %>
    </div>
    <%@tracks.each do |track| %>
      <div class="border p-4 d-flex flex-column">
        <p><%=track.title%></p>
        <%if track.main_image.attached?%>
          <%= image_tag track.main_image %>
        <%end%>
      </div>
    <%end%>
  </div>
</div>