<div class="Hero-Header">
  <div class="mt-3 mb-1">
    <h1 class="h3-mktg h-branded-font mb-2">Link Square Player</h1>
    <p class="f3-mktg">
      Click on the toggle option to select the kind of player you would like to add to your site.
    </p>
    <hr width="100px"> 
  </div>
  <div class="h-Content-Container mt-5">
    <h5 class="h6-mktg">
      Example player for testing
    </h5>
    <div class="h-border-radius color-shadow-large mt-5">
      <%= render(AudioPlayer::AudioPlayerComponent.new(tracks: @tracks))%>
    </div>
  </div>
  <div class="h-Content-Container mt-5">
    <h5 class="h6-mktg">
      Square Sites to add 
    </h5>
  </div>
  <div class="mt-5">
    <% @sites.each do |site| %>
      <div>
        <a target="_blank" href="https://<%=site[:site].domain%>"  class="f3-mktg"><%=site[:site].domain%></a>
      </div>
      <div>
        <form>
          <div class="form-checkbox">
            <label>
              <input type="radio" name="hireme" />
              Add Sample Player
            </label>
          </div>
          <div class="form-checkbox">
            <label aria-live="polite">
              <input type="radio" class="form-checkbox-details-trigger" name="hireme" />
              Add Custom Player
            </label>
          </div>
        </form>
      </div>
      <div>
      <% if site[:snippet] %> 
          <%= button_to "Remove Player from Site", player_path(site[:snippet].site_id), :class => 'remove-cursor', :method => :delete, class: "btn-mktg btn-enterprise-mktg btn-sm-mktg" %>
      <% else %>
        <%= link_to "Add Player", player_path(site[:site].id),
        method: :create, class: "btn-mktg btn-enterprise-mktg btn-sm-mktg" %>
      <% end %>
      </div>
    <% end %>
  </div>
</div>